* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}
body {
  padding: 3.875rem 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--very-light-grayish-blue);
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.notification-container {
  width: min(100%, 45.625rem);
  margin: auto;
  padding: 2.25rem 1.875rem;
  background-color: var(--white);
}
.notif-head-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
}
.notif-title {
  color: var(--very-dark-blue);
  font-size: 1.5rem;
  font-weight: 800;
}
.notif-amount {
  color: var(--white);
  font-size: 1rem;
  font-weight: 800;
  padding: 0.18em 0.72em;
  background-color: var(--blue);
}
.mark-read-btn {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  font-weight: 500;
  margin-left: auto;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.notif-wrapper {
  padding: 1.125rem;
  display: flex;
  gap: 1.25rem;
  background-color: var(--light-grayish-blue-1);
  border-radius: 0.45rem;
}
.notif-wrapper:not(:last-child) {
  margin-bottom: 0.5rem;
}
.notif-avatar {
  width: 2.875rem;
  height: 2.875rem;
  /* background-color: var(--white); */
  /* border-radius: 50%; */
}
.notif-profile-wrapper {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  font-weight: 500;
}
.notif-info-wrapper-child {
  display: inline;
}
.notif-info-wrapper-child > * {
  display: inline-block;
}
.subject-name {
  color: var(--very-dark-blue);
  font-weight: 800;
}
.object-link {
  color: var(--dark-grayish-blue);
  font-weight: 800;
}
.object-img {
  display: inline-block;
  border: 5px solid green;
  margin-left: auto;
}
.private-message {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  padding: 1.125em;
  display: inline-block;
  border: 0.0625rem solid var(--dark-grayish-blue);
  border-radius: 0.5rem;
}
